body,ul,ol,dl,dd,dt,li,a,h1,h2,h3,h4,h5,h6,table,tr,td,th,textarea,input,button,select,p{ padding:0; margin:0;}
ul,li{ list-style:none;}
img{ border:0;}
body{ font-size:12px; font-family:"微软雅黑"; color:#000;  background:#F3F3F3;}
a,u{ color:#666; text-decoration:none;}
a:hover{color: #3b9aeb;}
i,em{ font-style:normal;}
b,strong,h1,h2,h3,h4{ font-weight:normal;}
.f-fl{float:left;}
.f-fr{float:right;}
input{border: none;outline: none;}
.cl{clear: both;}